@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Lora:ital,wght@1,500&display=swap');
.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255,0.5),
        rgba(255, 255, 255,0.3),
        rgba(255, 255, 255,0.2)
    ),
    url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    font-family: 'Lora', serif;
}
.loginTitle{
    font-size: 50px;
    margin-bottom: 20px;
    align-self: center;
    color:rgb(117, 51, 43) ;
    border: 5px double rgb(206, 100, 88) ;
    border-radius: 10px;
    padding: 10px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 5px double rgb(206, 100, 88);
    border-radius: 10px;
    background: linear-gradient(
        rgba(240, 186, 186, 0.5),
        rgba(236, 138, 138, 0.3),
        rgba(221, 95, 95, 0.363)
    )
    
}
.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border:none;
    border-radius: 8px 0px 8px 0px;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(223, 105, 92);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    color: white;
    padding:10px ;
    border-radius: 5px;
    border: none;
}