@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Lora:ital,wght@1,500&display=swap');
.setting{
    display: flex;
    
}

.settingWrapper{
    flex: 9;
    padding: 20px;
}
.settingTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: salmon;
    cursor: pointer;
    border: 3px solid salmon;
    border-radius: 7px;
    padding: 7px;
}
.settingDeleteTitle{
    font-size: 15px;
    color: red;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
} 
.settingForm{
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
}
.settingPP{
    display: flex; 
    align-items: center;
    margin: 10px 0;
}
.settingPP > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.settingPPIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: salmon;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.settingForm >label{
    font-size: 20px;
    margin-top: 20px;
}

.settingForm > input{
    color: grey;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 2px solid lightgray;
}

.settingUpdate{
    width: 150px;
    align-self: center;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Lora', serif;
}